*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
  
html {
  font-size: 62.5%;
}

.cuerpo{
  background-color: #faf0da;
  position: relative;

  width: 100%;
}

.titulo{
font-size: 5rem;
text-align: center;
margin: 20px 0 20px 0;
}