.productosGrid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px 30px;

    justify-items: center;
}

.divListaVacia{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.divListaVacia h2{
    font-size: 3rem;
    color: #023859;
}